In [49]:
import pandas as pd
from pandas import DataFrame, Series
from sklearn.cross_validation import train_test_split, KFold 
import random
from sklearn.neighbors import KNeighborsClassifier

In [50]:
data = pd.read_csv('/Users/ziru/DS/DigitR/train.csv')

In [4]:
data.isnull().values.any()

False

In [5]:
data.shape

(42000, 785)

In [6]:
data[:5]

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
X = data.drop('label', axis=1)

In [8]:
X[:5]

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
y = data['label']

In [10]:
data_te = DataFrame.from_csv('/Users/ziru/DS/DigitR/test.csv')

In [11]:
data_te[:5]

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
pixel0,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [13]:
X_train.shape

(28140, 784)

In [14]:
X_test.shape

(13860, 784)

In [15]:
y_train[:5]

38060    8
22672    6
14625    3
1475     1
27894    1
Name: label, dtype: int64

**Get 100 rows to test the logic first**

In [28]:
rows_train = random.sample(X_train.index, 5000)

In [29]:
rows_test = random.sample(X_test.index, 5000)

In [30]:
X_train_sample = X_train.ix[rows_train]

In [31]:
X_train_sample.shape

(5000, 784)

In [32]:
X_train_sample.isnull().values.any()

False

In [33]:
X_test_sample = X_test.ix[rows_test]
y_train_sample = y_train.ix[rows_train]
y_test_sample = y_test.ix[rows_test]

In [34]:
X_test_sample.isnull().values.any()

False

In [35]:
y_test_sample.isnull().values.any()

False

In [36]:
y_train_sample.isnull().values.any()

False

In [51]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_sample, y_train_sample)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=5, p=2, weights='uniform')

In [47]:
knn1 = KNeighborsClassifier(n_neighbors=10)
knn1.fit(X_train_sample, y_train_sample)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=10, p=2, weights='uniform')

In [41]:
# knn.predict(X_test)

In [52]:
pd.crosstab(y_test_sample, knn.predict(X_test_sample), rownames=["Actual"], colnames=["Predicted"])

Predicted    0    1    2    3    4    5    6    7    8    9
Actual
0          484    0    0    0    0    0    5    0    0    0
1            0  511    0    1    0    0    0    0    0    0
2           12   20  456    4    0    2    4   11    4    2
3            1    9    3  476    1    8    2    3    8    8
4            0    8    0    0  450    0    1    2    0   23
5            3    9    0   15    1  397    6    0    1    7
6            9    3    0    0    1    3  501    0    1    0
7            1   15    2    0    2    0    0  503    0   14
8            1   13    4   16    3   10    4    7  409   12
9            5    1    2    7   11    1    0   23    0  458

In [53]:
result = pd.crosstab(y_test_sample, knn.predict(X_test_sample), rownames=["Actual"], colnames=["Predicted"])

In [63]:
result[1][1]

511

In [64]:
sum(result.ix[0])

489

In [65]:
labels = range(10)

In [66]:
labels

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
percentage = {}
for l in labels:
    percentage[l] = (float(result[l][l])/float(sum(result.ix[l])))

In [83]:
percentage

{0: 0.9897750511247444,
 1: 0.998046875,
 2: 0.8854368932038835,
 3: 0.9171483622350675,
 4: 0.9297520661157025,
 5: 0.9043280182232346,
 6: 0.9671814671814671,
 7: 0.9366852886405959,
 8: 0.8538622129436325,
 9: 0.9015748031496063}

In [93]:
df_p = Series(percentage)
df_p.index.name = 'labels'

In [95]:
df_p.to_frame(name='accuracy')

        accuracy
labels
0       0.989775
1       0.998047
2       0.885437
3       0.917148
4       0.929752
5       0.904328
6       0.967181
7       0.936685
8       0.853862
9       0.901575

##CrossValidation##