In [1]:
import pandas as pd
from pandas import DataFrame, Series
from sklearn.cross_validation import train_test_split, KFold 
import random
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/fzr72725/DigitR/master/train.csv')

In [3]:
data.isnull().values.any()

False

In [4]:
data.shape

(42000, 785)

In [5]:
data[:5]

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X = data.drop('label', axis=1)

In [7]:
X[:5]

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
y = data['label']

In [9]:
data_te = DataFrame.from_csv('https://raw.githubusercontent.com/fzr72725/DigitR/master/test.csv')

In [10]:
data_te[:5]

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
pixel0,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [12]:
X_train.shape

(28140, 784)

In [13]:
X_test.shape

(13860, 784)

In [14]:
y_train[:5]

38060    8
22672    6
14625    3
1475     1
27894    1
Name: label, dtype: int64

**Get 100 rows to test the logic first**

In [15]:
rows_train = random.sample(X_train.index, 5000)

In [16]:
rows_test = random.sample(X_test.index, 5000)

In [17]:
X_train_sample = X_train.ix[rows_train]

In [18]:
X_train_sample.shape

(5000, 784)

In [19]:
X_train_sample.isnull().values.any()

False

In [20]:
X_test_sample = X_test.ix[rows_test]
y_train_sample = y_train.ix[rows_train]
y_test_sample = y_test.ix[rows_test]

In [21]:
X_test_sample.isnull().values.any()

False

In [22]:
y_test_sample.isnull().values.any()

False

In [23]:
y_train_sample.isnull().values.any()

False

In [24]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_sample, y_train_sample)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [25]:
knn1 = KNeighborsClassifier(n_neighbors=10)
knn1.fit(X_train_sample, y_train_sample)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [26]:
# knn.predict(X_test)

In [27]:
pd.crosstab(y_test_sample, knn.predict(X_test_sample), rownames=["Actual"], colnames=["Predicted"])

Predicted    0    1    2    3    4    5    6    7    8    9
Actual
0          463    0    0    0    0    1    5    0    0    0
1            0  562    2    0    0    0    1    0    0    1
2           10   15  448    6    0    0    4   14    1    2
3            2    2    6  485    2   11    0    3    4    5
4            2   13    0    0  423    0    2    0    0   31
5            4    4    2   23    1  404    3    0    0    3
6           10    1    0    0    2    2  462    0    0    0
7            0   15    2    1    2    0    0  497    0    7
8            7   11    3   21    4   10    4    1  447    6
9            6    5    1    9   18    0    0   12    1  463

In [37]:
print('KNN score: %f' % knn.fit(X_train_sample, y_train_sample).score(X_test_sample, y_test_sample))

KNN score: 0.930800

In [28]:
result = pd.crosstab(y_test_sample, knn.predict(X_test_sample), rownames=["Actual"], colnames=["Predicted"])

In [29]:
result[1][1]

562

In [30]:
sum(result.ix[0])

469

In [31]:
labels = range(10)

In [32]:
labels

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
percentage = {}
for l in labels:
    percentage[l] = (float(result[l][l])/float(sum(result.ix[l])))

In [34]:
percentage

{0: 0.9872068230277186,
 1: 0.9929328621908127,
 2: 0.896,
 3: 0.9326923076923077,
 4: 0.8980891719745223,
 5: 0.9099099099099099,
 6: 0.9685534591194969,
 7: 0.9484732824427481,
 8: 0.8696498054474708,
 9: 0.8990291262135922}

In [35]:
df_p = Series(percentage)
df_p.index.name = 'labels'

In [36]:
df_p.to_frame(name='accuracy')

        accuracy
labels
0       0.987207
1       0.992933
2       0.896000
3       0.932692
4       0.898089
5       0.909910
6       0.968553
7       0.948473
8       0.869650
9       0.899029

##CrossValidation##